<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} | Cupon</title>
</head>

<body id="{% block id %}{% endblock %}">
    <div id="contenedor">
        {% set ciudadSeleccionada = app.request.attributes.get('ciudad')|default(ciudad_por_defecto) %}
        <header>
            <h1><a href="{{ path('portada', {ciudad: ciudadSeleccionada}) }}">CUPON</a></h1>
            <nav>
                <ul>
                    <li><a href="{{ path('portada', {ciudad: ciudadSeleccionada}) }}">Oferta del día</a></li>
                    <li><a href="#">Ofertas recientes</a></li>
                    <li><a href="#">Mis ofertas</a></li>
                </ul>
            </nav>
        </header>

        <article class="oferta">
            ## CONTENIDO PRINCIPAL DE LA PÁGINA ##
            {% block article %}{% endblock %}
        </article>

        <aside>
            ## CONTENIDO SECUNDARIO DE LA PÁGINA ##
            {% block aside %}{% endblock %}
        </aside>

        <footer>
            &copy; {{ 'now'|date('Y')}} - Cupon
            <a href="{{ path('pagina', {nombrePagina: 'ayuda'}) }}">Ayuda</a>
            <a href="{{ path('pagina', {nombrePagina: 'contacto'}) }}">Contacto</a>
            <a href="{{ path('pagina', {nombrePagina: 'privacidad'}) }}">Privacidad</a>
            <a href="{{ path('pagina', {nombrePagina: 'sobre_nosotros'}) }}">Sobre nosotros</a>
        </footer>
    </div>
</body>

</html>